<body style="display: inline-flex;">
    <nav class="nav">
        <ul class="list">
            <li class="list__item">
                <div class="list__button">
                    <img src="../../../assets/img/home.svg" width="20px" class="list__img">
                    <a href="#" class="nav__link" [routerLink]="['/Inicio']">Inicio</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="../../../assets/img/addperson.svg" width="20px" class="list__img">
                    <span href="#" class="nav__link">Empleados</span>
                    <img src="../../../assets/img/arrow.svg" width="20px" class="list__arrow">
                </div>
                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding" [routerLink]="['/Inicio']">Registrar</a>
                    </li>
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Empleados</a>
                    </li>
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Empleados Inactivos</a>
                    </li>
                </ul>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="../../../assets/img/nomina.svg" width="20px" class="list__img">
                    <span href="#" class="nav__link">Nómina</span>
                    <img src="../../../assets/img/arrow.svg" width="20px" class="list__arrow">
                </div>
                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Nómina regular</a>
                    </li>
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Cálcular prestaciones</a>
                    </li>
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Regalía Pascual</a>
                    </li>
                </ul>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="../../../assets/img/report.svg" width="20px" class="list__img">
                    <span href="#" class="nav__link">Reportes</span>
                    <img src="../../../assets/img/arrow.svg" width="20px" class="list__arrow">
                </div>
                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Nómina General</a>
                    </li>
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Saldos Pendientes</a>
                    </li>
                </ul>
            </li>

            <li class="list__item">
                <div class="list__button">
                    <img src="../../../assets/img/history.svg" width="20px" class="list__img">
                    <a href="#" class="nav__link">Histórico</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="../../../assets/img/config.svg" width="20px" class="list__img">
                    <span href="#" class="nav__link">Mantenimiento</span>
                    <img src="../../../assets/img/arrow.svg" width="20px" class="list__arrow">
                </div>
                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Horarios</a>
                    </li>
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Perfil</a>
                    </li>
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside padding">Maestros</a>
                    </li>
                </ul>
            </li>

            <li class="list__item">
                <div class="list__button">
                    <img src="../../../assets/img/cerrar.svg" width="20px" class="list__img">
                    <a href="#" class="nav__link">Cerrar Sesion</a>
                </div>
            </li>
        </ul>
    </nav>
</body>
<div style="display: inline-flex;" >
    <app-precios></app-precios>
</div>
