<mat-toolbar>
    <span class="material-icons">currency_exchange</span>
        <span>
            <a>ContSN</a>
        </span>
        
        <button mat-button [routerLink]="['/home']">Inicio</button>
        <button mat-button [routerLink]="['/nosotros']">Nosotros
        </button>
        <button mat-button [routerLink]="['contactos']">Contactos
        </button>
        <button mat-button [routerLink]="['/precios']">Precios
        </button>
        <button mat-button [routerLink]="['registro']">Registrarse
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <span  class = "icono" class="material-icons">notifications</span>
        </button> 

        <button class = "icono" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <span class="material-icons">person</span>
        </button> 
    
        <button class="icono" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <span class="material-icons"> menu</span>
        </button> 
 </mat-toolbar>