*{
    background-color: rgb(214, 214, 226);
    color: rgb(6, 31, 48);
    font-family:unset, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:14px;
    text-align:center
}



