<h2 class="centrado">Planes</h2>
<p class="centrado"> ¡Escoge el plan que más se adapte a tus necesidades!</p>
<mat-grid-list cols="2" rowHeight="2:1">    
    <body>
      <section class="container flex">
          <div class="columna">
              <h2 class="centrado">Plan Básico</h2>
              <p class="precio">$50,000</p>
              <p class="centrado">Registro por un año</p>
              <p class="centrado">Lorem, ipsum dolor sit amet consectetur adipisicing elit. (Breve descripción del plan).
              <a href="#" class="btn-precio">Comprar</a>
              <p class="centrado">
              <a href="">¡Empieza una prueba gratis!</a>
              </p>  
              <hr>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In id iste earum.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod beatae necessitatibus sunt impedit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
              </ul>
              </div>
            
              <div class="columna">
                <h2 class="centrado">Plan Medio</h2>
                <p class="precio">$110,000</p>
                <p class="centrado">Registro por un año</p>
                <p class="centrado">Lorem, ipsum dolor sit amet consectetur adipisicing elit. (Breve descripción del plan).
                <a href="#" class="btn-precio">Comprar</a>
                <p class="centrado">
                <a href="">¡Empieza una prueba gratis!</a>
                </p>
                <hr>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In id iste earum.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod beatae necessitatibus sunt impedit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
                </div>

                <div class="columna">
                  <h2 class="centrado">Plan Premiun</h2>
                  <p class="precio">$150,000</p>
                  <p class="centrado">Registro por un año</p>
                  <p class="centrado">Lorem, ipsum dolor sit amet consectetur adipisicing elit. (Breve descripción del plan).
                  <a href="#" class="btn-precio">Comprar</a>
                  <p class="centrado">
                  <a href="">¡Empieza una prueba gratis!</a>
                  </p>
                  <hr>
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In id iste earum.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod beatae necessitatibus sunt impedit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                  </ul>
                  </div>
      </section>
  </body>
</mat-grid-list>


  
